{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    4 Programmers stuck doing web applicactions for school.<br />
    AMC in Thessaloniki nearby the Bus Station<br />
    <abbr title="Phone">Phone:</abbr>
    2310 012017
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">thivasss0@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com"> BlueSkies@blueskies.com</a>
</address>

{% endblock %}
