{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SCBNS</h1>
    <p class="lead">The Organization So Cold But No Snow provides all our employes with our Data Base access through this web application.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Go to our Database application &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            A small guide to learn how to use the damn application. Did anyone read the emails and prenentation I send you???
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Petition for Coffee</h2>
        <p>This is a petition for the coffee machine to be fixed. This don't have to do with anything about the web application, but coding without coffee is like Jean without a belt. (Seriously they need to give free belts when you buy a Jean)</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web deisgn inquaries</h2>
        <p>Our budget is small enough so we didn't hire a web designer. Instead we are going to entertain you through small and cheap jokes. The web application may not be that pretty but who cares if you are not paying attention to it.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
